In [3]:
# Dependencies
import pandas as pd

In [19]:
# Import Data
# Data retrieved from https://www.eia.gov/electricity/data.php
# Provides electricity usage across all 50 states
df = pd.read_excel('Resources/sales_annual_a.xlsx', header=2)

# Concat State and year as ID
df['Year'] = df['Year'].astype('string')
df['id'] = df['STATE'].str.cat(df['Year'])

,Year,STATE,Thousand Dollars,Megawatthours,Count,Cents/kWh,Thousand Dollars.1,Megawatthours.1,Count.1,Cents/kWh.1,...,Cents/kWh.2,Thousand Dollars.3,Megawatthours.3,Count.3,Cents/kWh.3,Thousand Dollars.4,Megawatthours.4,Count.4,Cents/kWh.4,id
0,2021,AK,469886,2083911,292451,22.55,501658,2558649,56005,19.61,...,16.85,0,0,0,0.00,1195132,5969339,349591,20.02,AK2021
1,2021,AL,4092368,31585153,2308226,12.96,2586968,21844283,376180,11.84,...,6.33,0,0,0,0.00,8713442,85585166,2691639,10.18,AL2021
2,2021,AR,2131723,18918015,1436246,11.27,1101412,11516908,201408,9.56,...,6.57,28,205,2,13.56,4429965,48663142,1674284,9.10,AR2021
3,2021,AZ,4655903,37130339,2953823,12.54,3098754,29990064,335377,10.33,...,6.79,981,10515,2,9.33,8711850,81219990,3296750,10.73,AZ2021
4,2021,CA,20604392,90284143,13883994,22.82,20861069,108761594,1750923,19.18,...,14.82,73215,620799,12,11.79,48589099,247249865,15784318,19.65,CA2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
619,2010,WA,2805591,34906926,2825281,8.04,2125160,28833281,353330,7.37,...,4.08,516,6949,6,7.42,6016578,90379970,3206587,6.66,WA2010
620,2010,WI,2820621,22299493,2594698,12.65,2296381,23001117,338406,9.98,...,6.85,0,0,0,0.00,6723234,68752417,2937600,9.78,WI2010
621,2010,WV,1094174,12442583,867948,8.79,610027,7961906,137209,7.66,...,5.86,365,4380,1,8.33,2385580,32031803,1017506,7.45,WV2010
622,2010,WY,239198,2727201,257447,8.77,320135,4317140,59642,7.42,...,4.98,0,0,0,0.00,1060618,17113458,326022,6.20,WY2010
623,2010,US,166778041,1445708403,125717935,11.54,135553746,1330199364,17674338,10.19,...,6.77,814346,7712412,239,10.56,368918140,3754841368,144140259,9.83,US2010

In [30]:
# Subset data
df_keys = df[['id', 'Year', 'STATE']]
df_residential = df[['id','Thousand Dollars', 'Megawatthours' , 'Count', 'Cents/kWh']]
df_commercial = df[['id','Thousand Dollars.1', 'Megawatthours.1' , 'Count.1', 'Cents/kWh.1']]
df_industrial = df[['id', 'Thousand Dollars.2', 'Megawatthours.2' , 'Count.2', 'Cents/kWh.2']]
df_transportation = df[['id', 'Thousand Dollars.3', 'Megawatthours.3' , 'Count.3', 'Cents/kWh.3']]
df_total = df[['id', 'Thousand Dollars.4', 'Megawatthours.4' , 'Count.4', 'Cents/kWh.4']]

df_list = [df_residential, df_commercial, df_industrial, df_transportation, df_total]

In [31]:
column_labels = ['id', 'revenue', 'sales', 'customers', 'price']

for i in range(len(df_list)):
    df_list[i].columns = column_labels

In [35]:
# Export sub-setted data as CSV
df_keys.to_csv('Resources/sales_annual_keys.csv')
df_residential.to_csv('Resources/sales_annual_residential.csv')
df_commercial.to_csv('Resources/sales_annual_commercial.csv')
df_industrial.to_csv('Resources/sales_annual_industrial.csv')
df_transportation.to_csv('Resources/sales_annual_transportation.csv')
df_total.to_csv('Resources/sales.annual_total.csv')

In [27]:
# Preview
df_keys

         id  Year STATE
0    AK2021  2021    AK
1    AL2021  2021    AL
2    AR2021  2021    AR
3    AZ2021  2021    AZ
4    CA2021  2021    CA
..      ...   ...   ...
619  WA2010  2010    WA
620  WI2010  2010    WI
621  WV2010  2010    WV
622  WY2010  2010    WY
623  US2010  2010    US

[624 rows x 3 columns]

In [32]:
df_transportation

         id  revenue    sales  customers  price
0    AK2021        0        0          0   0.00
1    AL2021        0        0          0   0.00
2    AR2021       28      205          2  13.56
3    AZ2021      981    10515          2   9.33
4    CA2021    73215   620799         12  11.79
..      ...      ...      ...        ...    ...
619  WA2010      516     6949          6   7.42
620  WI2010        0        0          0   0.00
621  WV2010      365     4380          1   8.33
622  WY2010        0        0          0   0.00
623  US2010   814346  7712412        239  10.56

[624 rows x 5 columns]

In [34]:
df_industrial

         id   revenue      sales  customers  price
0    AK2021    223588    1326779       1135  16.85
1    AL2021   2034105   32155730       7233   6.33
2    AR2021   1196803   18228014      36628   6.57
3    AZ2021    956213   14089072       7548   6.79
4    CA2021   7050423   47583329     149389  14.82
..      ...       ...        ...        ...    ...
619  WA2010   1085311   26632814      27970   4.08
620  WI2010   1606232   23451807       4496   6.85
621  WV2010    681014   11622934      12348   5.86
622  WY2010    501285   10069117       8933   4.98
623  US2010  65772007  971221189     747747   6.77

[624 rows x 5 columns]